.ccm-comments {
    width: 600px;
    padding: 10px;
    background-color: #ECEFF1;
}

.ccm-comments .comment{
    padding: 10px;
    margin-bottom: 10px;
    min-height: 50px;
    background-color: #B0BEC5;
    border: 1px solid #607D8B;
}
